.flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  width: 100%;
}

.pic {
  margin-bottom: 2em;
}

button {
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

button:active {
  opacity: 0.4;
}

.nav {
  border: none;
  background-color: #ff0;
  padding: 20px;
  border-radius: 50px;
  font-size: 24px;
  font-weight: bold;
}

.billInfo {
  padding: 10px;
  background-color: #ddd;
  border-radius: 15px;
  width: 50%;
  margin-bottom: 20px;
}

.billInfo h2 {
  margin-block-start: 0;
}

.onDesk {
  width: 100%
}